/comp1804_coursework_forattribution_23-24.json
/comp1804_code.zip
/comp1804-template-23-24-word.docx
/majority_baseline.png
/package-lock.json
/task1_cnn_test.png
/report_comp1804.docx
/task2_cnn_test.png
/task1_mlp_test.png
/task1_sgd_test.png
/package.json
/xlnet_test.png
/trivial_baseline.png
/mlp_task2_test_confusion.png
/COMP1804_CourseWork_specifications_2023-24.pdf
/report_comp1804.pdf
/cnn_task2_confusion_test.png
/cnn_task2_confusion_validation.png
